.average-rating-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .stars-and-reviews {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .review-count {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    color: black;
    opacity: 0.6;
  }
  
  .rental-status {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #129025;
    opacity: 0.8;
  }
  