.purchase-section-container {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .quantity-selector button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background: #dbd7d5;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .quantity-selector span {
    font-size: 18px;
  }
  