.rental-period-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rental-label {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #424551;
}

.rental-buttons {
  display: flex;
  gap: 10px;
}

.rental-button {
  width: 85px;
  height: 50px;
  border-radius: 10px;
  background: #dbd7d5;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.rental-button.selected {
  background: #fa9d9a;
  color: white;
}
