.rent-availability {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }
  
  .rent-availability.available {
    color: #129025;
  }
  
  .rent-availability.unavailable {
    color: red;
  }
  