.best-products-page {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.category-list {
  width: 30%;
}

.best-products-content {
  width: 70%;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .best-products-page {
    flex-direction: column;
  }

  .category-list,
  .best-products-content {
    width: 100%;
    padding: 0;
  }
}
