.best-products-page {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.best-products-content {
  width: 70%; /* 콘텐츠 부분 너비 */
  padding-left: 20px; /* 카테고리와 콘텐츠 사이 간격 */
}

@media screen and (max-width: 768px) {
  .best-products-page {
    flex-direction: column; /* 모바일 화면에서 세로로 배치 */
  }

  .category-list,
  .best-products-content {
    width: 100%;
  }
}
