/* src/assets/css/mypage/MyPageLayout.css */

.my-page-edit-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #fff !important;
}

.my-page-edit-layout__sidebar {
  width: 100%;
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-right: none !important; /* 사이드바 오른쪽 경계선 제거 */
}

.my-page-edit-layout__content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff !important;
  border-left: none; /* 콘텐츠 영역 왼쪽 경계선 제거 */
}

.my-page-edit-layout__sidebar-wrapper {
  width: 100%;
  max-width: 250px;
  padding: 20px;
  background-color: #fff !important; //테두리 밖은 흰색
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
