/* src/assets/css/mypage/MyPageEditLayout.css */
.my-page-edit-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  justify-content: space-between;
}

.my-page-edit-layout__sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.my-page-edit-layout__content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
}

.mypage-edit-account-settings h1 {
  font-size: 24px;
  font-weight: bold;
  color: #23262f;
  text-align: center;
  margin-bottom: 20px;
}

/* 폼 레이아웃 */
.mypage-edit-account-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 네임스페이싱 적용한 폼 그룹 */
.mypage-edit__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.mypage-edit__form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.mypage-edit__form-group input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* 저장 버튼 */
.mypage-edit__button {
  width: 100%;
  padding: 12px;
  background-color: #fa9d9a;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.mypage-edit__button:hover {
  background-color: #f8827d;
}

/* 에러 메시지 */
.mypage-edit__error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

/* 마이페이지의 상단 박스들을 반반으로 배치 */
.my-page-top-box {
  display: flex;
  justify-content: space-between; /* 박스 간 간격을 고르게 설정 */
}