.view-all-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* 버튼 간 간격 추가 */
}

.view-all-button:hover {
  background-color: #0056b3;
}

.arrow-icon {
  margin-left: 10px;
  font-size: 18px;
}
