.dropdown {
  position: relative;
  width: 100%;
  outline: none;
}

.dropdown-btn {
  font-size: 16px;
  height: 52px;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc !important;
  cursor: pointer;
  outline: none;
  border-radius: 0px;
}

.dropdown-menu {
  position: static; 
  background: white;
  border: 1px solid #ccc;
  margin: 0px;
  padding: 0px;
  outline: none;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown-btn,
.dropdown-menu {
  width: 100%;
  box-sizing: border-box; /* ✅ 패딩과 테두리를 포함한 크기 계산 */
}


.expanded .dropdown-menu {
  max-height: 300px; /* 충분히 큰 값으로 설정 */
  opacity: 1;
  outline: none;
}

.dropdown-menu li {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  color: #424551;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  outline: none;
}

.dropdown-menu li:hover {
  background: #fa9d9a;
  color: white;
}

.dropdown-btn:focus,
.dropdown-btn:focus-visible,
.dropdown-btn:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ccc !important; /* 기본 테두리 유지 */
}