.product-banner {
    width: 1300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
  
  .product-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* ✅ 이미지가 배너 크기에 맞게 조정됨 */
  }
  
  /* 🔹 상품 상세정보 위 배너 (패딩 있음) */
.banner-top {
  padding-top: 60px;
}

/* 🔹 상품 후기 안쪽 배너 (패딩 없음) */
.banner-review {
  padding: 0;
}