* {
  outline: none !important;
  box-shadow: none !important;
}

/* 리뷰 컨테이너 */
.review-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

/* 리뷰 헤더 (유저명 & 날짜) */
.review-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  margin-bottom: 12px;
  gap: 15px;
}

.review-user {
  color: #333;
  font-size: 14px;
}

.review-date {
  color: #777;
  font-size: 12px;
}

.stars-container {
  display: flex;
  align-items: center; 
  font-size: 13px; 
  font-weight: 500;
  gap: 12px; 
  font-weight: 500;
}

/* 별점 스타일 */
.stars {
  color: #ffcc00;
  font-size: 16px;
  display: flex;
  gap: 2px;
}

/* 리뷰 내용 */
.review-text {
  font-size: 14px;
  color: #444;
  line-height: 1.6;
  margin-top: 8px;
}

/* 리뷰 이미지 */
.review-images {
  display:flex;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
}

.review-images img{
  width: 180px !important;
  height: 120px !important;
  object-fit: fill;
}

/* 좋아요 & 신고 버튼 */
.review-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

/* 좋아요 버튼 스타일 */
.like-button, .report-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px; 
  min-width: 110px;
}

.like-button:hover {
  background-color: #f5f5f5;
}

.like-button.liked {
  background-color: #FA9D9A;
  color: white !important;
}

.report-button:hover {
  background-color: #ee5454;
  color: white;
}