.filter-bar {
  width: 100%;
  max-width: auto; /* 부모 폭에 맞춤 */
  padding: 20px;
  box-sizing: border-box; /* 패딩 포함해서 계산 */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
}

.filter-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
  text-align: center;
}
