.price-range-filter {
  margin-bottom: 20px;
}

.price-range-filter label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.price-range-filter .rc-slider {
  margin: 10px 0;
}

.price-range-filter .price-range {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-range-filter .price-range input {
  width: 45%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
}

.price-range-filter .price-range span {
  font-size: 1rem;
  color: #333;
}
